<template>
  <div class="about">

    <h2>人员列表（遍历数组）</h2>
			<ul>
				<!-- :key="p.id"或:key="index" -->
				<li v-for="p of persons" :key="p.id">
					{{p.name}}-{{p.age}}
		</li>
			</ul>
  </div>
</template>


<script  >

  new Vue({
  el:'.about',
  data:{
    persons:[
      {id:'001',name:'张三',age:18},
      {id:'002',name:'李四',age:19},
      {id:'003',name:'王五',age:20}
    ],
  }
})

</script>


<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
