<template>
<el-menu
  router
  :default-active = "routeIndex"
  class = "el-menu-vertical-demo"
>
  <el-menu-item index="/home/descript" class="block">
    <div class="NoteTab">
      <span>BlankPage</span>
      <el-icon class="icon"><House /></el-icon>
    </div>
  </el-menu-item>
  <el-menu-item index="/home/ftable" class="block">
    <div class="NoteTab">
      <span>My First Table</span>
      <el-popover
        placement="top-start"
        title="OK!"
        :width="200"
        trigger="hover"
        content="这个模块可以随意编辑"
      >
        <template #reference>
          <el-icon class="icon" style="color:#67C23A"><Check /></el-icon>
        </template>
      </el-popover>
    </div>
  </el-menu-item>
  <el-menu-item index="/home/dept" class="block">
    <div class="NoteTab">
      Department
      <el-popover
        placement="top-start"
        title="注意！"
        :width="200"
        trigger="hover"
        content="该模块为新系统数据，仅供查看，尽量不要操作此Tab"
      >
        <template #reference>
          <el-icon class="icon" style="color:#F56C6C"><WarnTriangleFilled /></el-icon>
        </template>
      </el-popover>
    </div>
  </el-menu-item>
</el-menu>
</template>

<script setup lang="ts">
import router from '@/router';
import {computed} from 'vue'
const routeIndex = computed(() => {
  return router.currentRoute.value.path
})

</script>

<style scoped>
.block {
  border-bottom: solid 1px var(--el-border-color);
}
.NoteTab {
  display: flex;
	flex-direction: row;
  align-items: center;
  column-gap: 0.25rem;
}

.icon {
  opacity: 0.6;
  font-size: 1rem;
}

.icon:hover {
  opacity: 1;
}

</style>