<script setup lang="ts">
  import AsidePart from "@/views/MainContent/layouts/AsidePart.vue";
  import HeaderPart from "@/views/MainContent/layouts/HeaderPart.vue";
    
</script>
  <template>
    <div class="common-layout">
      <el-container class="layout-container-demo">
        <el-header>
            <HeaderPart></HeaderPart>
        </el-header>
        <el-container>
          <el-aside  width="200px">
            <AsidePart/>
          </el-aside>
          <el-main>
            <router-view/>
          </el-main>
        </el-container>
      </el-container>
    </div>
  </template>
  
  <style scoped>
  .common-layout{
    border: 1px solid var(--el-border-color);
    border-radius: 4px;
  }
  /* .layout-container-demo .el-header {
    position: relative;
    background-color: var(--el-color-primary-light-7);
    color: var(--el-text-color-primary);
    text-align: right;
    font-size: 12px
  } */
  .layout-container-demo .el-aside {
    border-right: 1px solid var(--el-border-color);
  }
  .layout-container-demo .el-menu {
    border-right: none;
  }
  .layout-container-demo .el-main {
    padding: 0;
  }
  .layout-container-demo .toolbar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    right: 20px;
  }
  </style>