<template>
  <el-menu
    class="el-menu-demo"
    mode="horizontal"
    :ellipsis="false"
  >
    <el-menu-item index="0" >HomePage</el-menu-item>
    <div class="flex-grow" />
    <el-sub-menu index="1">
      <template #title>Workspace</template>
      <el-menu-item index="2-1" @click="toLogin">跳转登录</el-menu-item>
      <el-menu-item index="2-2" @click="toTable">跳转表格</el-menu-item>
      <el-menu-item index="2-3" @click="toLogout">退出登录</el-menu-item>
    </el-sub-menu>
  </el-menu>
</template>

<script lang="ts" setup>
import router from '@/router';
import { ref } from 'vue'

const toLogin = ()=>{
  router.push({name: 'login'})
}
const toTable = ()=>{
  router.push({name: 'ttable'})
}
const toLogout = ()=>{
  sessionStorage.clear()
  router.push({name: 'login'})
}

</script>

<style scoped>
  .flex-grow {
    flex-grow: 1;
  }
  </style>