<template>
  <div class="login_container">
    <div class="login_box">
      <div class="avatar_box">
        登录
      </div>
      <el-form ref="loginForm" :model="loginFormData" label-width="0px" class="login_in">
        <el-form-item prop="account">
          <el-input type="text" v-model="loginFormData.account" placeholder="输入用户名">
            <template #prefix>
              <el-icon class="el-input__icon"><User /></el-icon>
            </template>
          </el-input>
        </el-form-item>
        <el-form-item prop="password">
          <el-input type="password" v-model="loginFormData.password" placeholder="输入密码" show-password>
            <template #prefix>
              <el-icon class="el-input__icon"><Lock /></el-icon>
            </template>
          </el-input>
        </el-form-item>
        <el-form-item class="btns">
          <el-button type="primary" @click="goLogin">登录</el-button>
          <el-button @click="resetForm(loginForm)">重置</el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script setup lang="ts">
  import {reactive, ref} from 'vue'
  import axios from 'axios'
  import { ElNotification, type FormInstance } from 'element-plus';
  import router from '@/router';
  const loginForm = ref<FormInstance>()
  const loading = ref(false)

  const goLogin = ()=>{
    loading.value = true;
    try {
      axios({
      method: 'post',
      url: 'api/sys/v1/auth/login',
      data:{
        "account": loginFormData.account,
        "password": loginFormData.password,
      }
    }).then(({data}:any)=>{
      console.log(data)
      loading.value = false;
      if(data.success == true){
        saveUser(data.data)
        router.push({name:'descript'})
        ElNotification({
        title: '登陆成功',
        message: '欢迎回来',
        type: 'success',
      })
      }
      else {
        ElNotification({
        title: '出错啦！',
        message: data.message,
        type: 'error',
      })
      }
    })
    } catch(e:any) {
      ElNotification({
        title: '出错啦',
        message: e,
      })
    }
  }
  const loginFormData = reactive({
    password : '',
    account : '',
  })
  const resetForm = (formEl: FormInstance | undefined) => {
    if (!formEl) return
    formEl.resetFields()
    sessionStorage.clear()
  }
  const saveUser = (resdata : object | any)=>{ // 保存用户信息
    sessionStorage.setItem('user',JSON.stringify(resdata.user))
    sessionStorage.setItem('token',resdata.token)
  }
</script>

<style scoped lang="less">
  .login_container {
    height: 100%;
  }

  .login_box {
    width: 400px;
    height: 300px;
    background-color: #fff;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 8px #888888;

    .avatar_box {
      position: absolute;
      width: 100px;
      height: 50px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -200%);
      text-align: center;
      letter-spacing: 10px;
      font-size: 32px;
      font-weight: 600;
      color: #303133;
    }
  }

  .btns {
    display: flex;
    justify-content: center;
  }

  .login_in {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;

  }
</style>