<template>
  <div class="pageLayout">
  <el-row>
    <el-col :span="12">
      <el-button type="primary" @click="addFormOpen">Add</el-button>
      <el-button type="warning" @click="editFormOpen">Edit</el-button>
      <el-button type="danger" @click="deleteSelected">Delete</el-button>
      <el-button type="primary" @click="queryList">查询</el-button>
    </el-col>
    <el-col :span="8" :offset="4">
      <el-input
        v-model="search.content"
        placeholder="Please input"
        class="input-with-select"
        @keyup.enter.native="doSearch()"
      >
        <template #prepend>
          <el-select v-model="search.select" placeholder="内容" style="width: 80px">
            <el-option label="名称" value="name" />
            <el-option label="工号" value="no" />
            <el-option label="状态" value="status" />
          </el-select>
        </template>
        <template #append>
          <el-button icon="Search" @click="doSearch()"/>
        </template>
      </el-input>
    </el-col>
  </el-row>
  <AddForm @submitForm="addData" ref="addFormDialog"></AddForm>
  <EditForm @submitForm="editData" ref="editFormDialog"></EditForm>
  <el-row>
    <el-col :span="24">
      <el-table 
      :data="tableData" 
      @selection-change="handleSelectionChange" 
      height="350" style="width: 100%"
      ref="memberTableRef"
      >
        <el-table-column type="selection" />
        <el-table-column prop="employeeId" label="员工ID" type="string"/>
        <el-table-column prop="name" label="名称" />
        <el-table-column prop="no" label="工号" />
        <el-table-column prop="mobile" label="手机号" />
        <el-table-column prop="birthday" label="生日" />
        <el-table-column prop="status" label="状态" >
          <template #default=scope>
            {{scope.row.status == 1 ? '正常' : '禁用' }}
          </template>
        </el-table-column>
        <el-table-column prop="type" label="员工类型" >
          <template #default=scope>
            {{scope.row.type == 1 ? '内部员工' : '外部员工' }}
          </template>
        </el-table-column>
        <el-table-column prop="operation" label="操作">
          <template #default={row}>
            <el-button link type="primary"  size="small" @click="editRow(row)">Edit</el-button>
            <el-button link type="primary" size="small" @click="deleteRow(row)">Delete</el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-col>
  </el-row>
</div>
</template>

<script setup lang="ts">
  /* 引入 */
  import { onMounted, reactive, ref } from 'vue'
  import { ElTable, ElMessage, ElMessageBox } from 'element-plus'
  import type { Search } from '@element-plus/icons-vue';
  import AddForm from '@/views/MainContent/layouts/myForm/AddForm.vue'
  import EditForm from '@/views/MainContent/layouts/myForm/EditForm.vue'
  import router from '@/router';
  import axios from 'axios';


  /* 定义表格数据类型、输入数据 */
  const tableData = ref([{}])
  const searchParam = ref({})

  /* 响应式数据定义 */
  const addFormDialog=ref<any>(null)
  const editFormDialog=ref<any>(null)
  const memberTableRef = ref<InstanceType<typeof ElTable>>()
  const memberSelection = ref([])
  const search = ref({
    content : '',
    select : 'name'
  })
  
  /* 记录多选项 */
  function handleSelectionChange(val: any){
    memberSelection.value = val
  }
  
  const queryList = ()=>{
    const access_token = sessionStorage.getItem('token')
    axios({
      method: 'get',
      url: '/api/sys/v1/employee/list',
      headers: {'X-Access-Token' : access_token? access_token : '' },
      params:searchParam.value
    }).then((res)=>{
      if(res.data.success == true){
        tableData.value = res.data.data.records
      }
    })
  }

  /* 查 */
  const doSearch = ()=>{
    const selection = search.value.select
    const content = search.value.content
    searchParam.value = {
      [selection] : content
    }
    queryList()
  }

  onMounted(() => {
    queryList()
  })
  //#region

  /* 增 */
  const addFormOpen = ()=>{
      addFormDialog.value.dialogFormVisible=true
  }

  const addData = ()=>{
    ElMessage.closeAll()
    searchParam.value = {}
    ElMessage.success('新增成功！')
    queryList()
  }

  /* 改 */
  const editFormOpen = ()=>{
    if(!(memberSelection.value.length > 0)){
      ElMessage.error('Oops, you haven\'t selected yet .')
      return
    } else if(memberSelection.value.length > 1){
      ElMessage.error('Sorry, you can only edit one line each time .')
      return
    }
    editFormDialog.value.form = Object.assign(memberSelection.value[0])
    editFormDialog.value.dialogFormVisible=true
  }
  
  const editRow  = (row: object)=>{
    editFormDialog.value.form = Object.assign(row)
    editFormDialog.value.dialogFormVisible=true
  }
  
  const editData = ()=>{
    ElMessage.closeAll()
    searchParam.value = {}
    ElMessage.success('修改成功！')
    queryList()
  }

  /* 删 */
  const deleteRow = (row: any)=>{
    ElMessageBox.confirm(
      '将要删除用户'+ row.name +'，是否确认？',
      'Warning',
      {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        type: 'warning',
      }
    )
      .then(() => {
        doDel(row)
      })
      .catch(() => {
        ElMessage({
          type: 'info',
          message: '操作取消',
        })
      })
  }

  const deleteSelected = ()=>{
    if(!(memberSelection.value.length > 0)){
      ElMessage.error('Oops, you haven\'t selected yet .')
      return
    }
    ElMessageBox.confirm(
      '将要删除选中用户，是否确认？',
      'Warning',
      {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        type: 'warning',
      }
    )
      .then(() => {
        for(let i = 0; i < memberSelection.value.length; i++){
          doDel(memberSelection.value[i])
        }
      })
      .catch(() => {
        ElMessage({
          type: 'info',
          message: '操作取消',
        })
      })
  }

  const doDel = (row: any)=>{
    const access_token = sessionStorage.getItem('token')
    axios({
        method: 'post',
        url: '/api/sys/v1/employee/delete',
        headers: {'X-Access-Token' : access_token? access_token : '' },
        params: {
          'employeeId': row.employeeId
        }
        }).then((res)=>{
        if(res.data.success == true){
          delData()
        }else{
          ElMessage.error('Opps,',res.data.message)
        }
    })
  }

  const delData = ()=>{
    ElMessage.closeAll()
    searchParam.value = {}
    ElMessage.success('删除成功！')
    queryList()
  }
//#endregion

</script>

<style lang="scss" scoped>
  .pageLayout{
    min-height: 500px;
  }
  .el-row {
    margin: 20px;
  }
  .el-row:last-child {
    margin-bottom: 0;
  }
  .el-col {
    border-radius: 4px;
  }

  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
</style>
