<script setup lang="ts">

</script>

<template>
<div class="home-layout">
    <h3 style="color:#303133 ;">Vue Testing</h3>
    <p style="color:#606266 ;">
        This is a little demo of Vue3.
    </p>
</div>
</template>

<style scoped>
.home-layout{
    min-height: 500px;
    margin:20px;
}
</style>