<template>
  <div class="pageLayout">
  <el-row>
    <el-col :span="24">
      <el-button type="primary" @click="addFormOpen">Add</el-button>
      <el-button type="warning" @click="editFormOpen">Edit</el-button>
      <el-button type="danger" @click="deleteSelected">Delete</el-button>
    </el-col>
  </el-row>
  <AddForm @submitForm="addData" ref="addFormDialog"></AddForm>
  <EditForm @submitForm="editData" ref="editFormDialog"></EditForm>
  <el-row>
    <el-col :span="24">
      <el-table 
      :data="tableData" 
      @selection-change="handleSelectionChange" 
      height="350" style="width: 100%"
      ref="memberTableRef"
      >
        <el-table-column type="selection" width="55" />
        <el-table-column prop="date" label="Date" width="150" />
        <el-table-column prop="name" label="Name" width="180" />
        <el-table-column prop="gender" label="Gender" />
        <el-table-column prop="tel" label="Tel" />
        <el-table-column prop="address" label="Address" />
        <el-table-column prop="operation" label="Operation">
          <template #default={row}>
            <el-button link type="primary"  size="small" @click="editRow(row)">Edit</el-button>
            <el-button link type="primary" size="small" @click="deleteRow(row)">Delete</el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-col>
  </el-row>
</div>
</template>

<script setup lang="ts">
  /* 引入 */
  import { reactive, ref } from 'vue'
  import { ElTable, ElMessage } from 'element-plus'
  import AddForm from '@/views/MainContent/layouts/myForm/AddForm.vue'
  import EditForm from '@/views/MainContent/layouts/myForm/EditForm.vue'

  /* 定义表格数据类型、输入数据 */
  interface Member { 
    id: string,
    date: string,
    name: string,
    gender: string,
    tel: string,
    address: string,
  }
  const tableData:Member[] = reactive([
    {
      id: '1',
      date: '2016-05-03',
      name: 'Tom',
      gender: 'Male',
      tel: '13345678855',
      address: 'No. 189, Grove St, Los Angeles',
    },
    {
      id: '2',
      date: '2016-05-02',
      name: 'Jassica',
      gender: 'Female',
      tel: '13345676077',
      address: 'No. 189, Grove St, Los Angeles',
    },
    {
      id: '3',
      date: '2016-05-04',
      name: 'Mike',
      gender: 'Male',
      tel: '13345679913',
      address: 'No. 189, Grove St, Los Angeles',
    },
  ])

  /* 响应式数据定义 */
  const addFormDialog=ref<any>(null)
  const editFormDialog=ref<any>(null)
  const memberTableRef = ref<InstanceType<typeof ElTable>>()
  const memberSelection = ref<Member[]>([])
  
  /* 记录多选项 */
  function handleSelectionChange(val: Member[]){
    memberSelection.value = val
  }
  
  /* 增 */
  function addFormOpen(){
      addFormDialog.value.dialogFormVisible=true
  }

  function addData(data: string){
    tableData.push(JSON.parse(data))
  }

  /* 改 */
  function editFormOpen(){
    if(!(memberSelection.value.length > 0)){
      ElMessage.error('Oops, you haven\'t selected yet .')
      return
    } else if(memberSelection.value.length > 1){
      ElMessage.error('Sorry, you can only edit one line each time .')
      return
    }
    editFormDialog.value.form = Object.assign(memberSelection.value[0])
    editFormDialog.value.dialogFormVisible=true
  }
  function editRow(row: object){
    editFormDialog.value.form = Object.assign(row)
    editFormDialog.value.dialogFormVisible=true
  }
  
  function editData(data: any){
    
    tableData.forEach((row,index)=>{
      if(row.id == data.value.id){
        tableData[index]=data.value
      }
    })
    // memberSelection.value[0]=data
  }

  /* 删 */
  function deleteRow(row: any){
    tableData.forEach((currentRow,index)=>{

      if(currentRow.id == row.id){
        tableData.splice(index,1)
      }
    })
  }

  function deleteSelected(){
    if(!(memberSelection.value.length > 0)){
      ElMessage.error('Oops, you haven\'t selected yet .')
      return
    }
    for(let i = 0; i < tableData.length; i++){
      for(let j = 0; j < memberSelection.value.length; j++){
        if(tableData[i].id == memberSelection.value[j].id){
          memberSelection.value.splice(j,1)
          j-=1
          tableData.splice(i,1)
        }
      }
    }
  }

</script>

<style lang="scss" scoped>
  .pageLayout{
    min-height: 500px;
  }
  .el-row {
    margin: 20px;
  }
  .el-row:last-child {
    margin-bottom: 0;
  }
  .el-col {
    border-radius: 4px;
  }

  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
</style>
