<template>
<el-dialog v-model="dialogFormVisible" title="新增员工">
    <el-form ref="addFormRef" :model="form" :rules="rules" status-icon>
        <el-form-item label="工号" :label-width="formLabelWidth" prop="no">
            <el-input v-model="form.no" class="formInput" autocomplete="off" />
        </el-form-item>
        <el-form-item label="名称" :label-width="formLabelWidth" prop="name">
            <el-input v-model="form.name" class="formInput" autocomplete="off" />
        </el-form-item>
        <el-form-item label="员工类型" :label-width="formLabelWidth" prop="type">
            <el-radio-group v-model="form.type">
                <el-radio label="1" >内部员工</el-radio>
                <el-radio label="2" >外部员工</el-radio>
            </el-radio-group>
        </el-form-item>
        <el-form-item label="手机号" :label-width="formLabelWidth" prop="mobile">
            <el-input v-model="form.mobile" class="formInput" autocomplete="off" />
        </el-form-item>
        <el-form-item label="生日" :label-width="formLabelWidth">
            <el-date-picker
                v-model="form.birthday"
                type="date"
                placeholder="Pick a day"
                value-format="YYYY-MM-DD"
            />
        </el-form-item>
    </el-form>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="dialogFormVisible = false">Cancel</el-button>
        <el-button type="primary" @click="submitForm(addFormRef)">Confirm</el-button>
      </span>
    </template>
  </el-dialog>
</template>

<script lang="ts" setup>
    /* 引入 */
    import { reactive, ref, toRaw } from 'vue'
    import axios from 'axios';
    import {nanoid} from 'nanoid'
    import { ElMessage } from 'element-plus';
    import type { FormInstance, FormRules } from 'element-plus'

    /* emit及props定义 */
    const emit = defineEmits(["submitForm"]);

    /* 响应式数据定义 */
    const dialogFormVisible = ref(false)
    const formLabelWidth = '140px'
    const addFormRef = ref<FormInstance>()
    const form = ref({
        // employeeId: number, //员工ID
        name: '', //名称
        no: '', //	工号
        mobile: '', //手机号
        birthday: '', //生日
        type: 0 //员工类型: 1: 内部员工; 2: 外部员工;
    })

    /* 方法、函数定义 */

    const checkNumber = (rule: any, value: any, callback: any)=>{
        if(isNaN(value)){
            callback(new Error('电话号码仅能是数字'))
        }else{
            callback()
        }
    }

    const rules =reactive<FormRules>({
        name:[
            { required: true, message: '请输入名称.', trigger: 'blur',}
        ],
        no:[
            { required: true, message: '请输入一个员工号.', trigger: 'blur',}
        ],
        mobile:[
            { validator: checkNumber, message: '电话号码仅能是数字.', trigger: 'blur',}
        ],
        type:[
            { required: true, message: '请选择员工类型.', trigger: 'change',}
        ],
    })

    const submitForm = async (formEl: FormInstance | undefined) => {
        if (!formEl) return
        await formEl.validate((valid, fields) => {
            if (valid) {
                console.log('submit!')
                doAdd()
            } else {
                ElMessage.error('提交出错！')
            }
        })
    }
    
    const doAdd = ()=>{
        const access_token = sessionStorage.getItem('token')
        axios({
            method: 'post',
            url: '/api/sys/v1/employee/add',
            headers: {'X-Access-Token' : access_token? access_token : '' },
            data: form.value
            }).then((res)=>{
            if(res.data.success == true){
                form.value = {
                    name: '', 
                    no: '', 
                    mobile: '', 
                    birthday: '',
                    type: 0
                }
                dialogFormVisible.value = false
                emit("submitForm");
            }else{
                ElMessage.error('Opps,',res.data.message)
            }
        })
    }

    /* 向外暴露组件状态 */
    defineExpose({
        dialogFormVisible
    })
</script>

<style scoped>
.formInput{
    width: 45%;
}
</style>